@import "compass";

#header {
  @include background-image(linear-gradient(#5c5c5c, #111111));
  color: #fff;
  height: 70px;
  padding-top: 5px;
  padding-left: 20px;
  img {
    @include float-left;
  }
}