@import "compass";

#moves {
  background-color: white;
  padding: 10px;
  @include border-radius(8px);
  .move {
    margin-bottom: 10px;
    .time {
      float: left;
      margin-right: 10px;
      font-size: 19px;
      font-weight: bold;
    }
  }
}